/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */

@import 'colors-waybar.css';

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

*{
  font-family: "FiraCode Nerd Font SemBd", "Symbol Nerd Font";
  border: none;
  font-size: 15px;
}

/* -----------------------------------------------------
 * Whole Window 
 * ----------------------------------------------------- */

window#waybar{
  background: transparent;
  /* margin-right: 8px; */
}
/* -----------------------------------------------------
 * Arch-Pill 
 * ----------------------------------------------------- */

#custom-arch-pill {
  margin: 5px;
  margin-left: 25px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #B4BEFE;
  color: #1A1B26;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio{
  margin: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #FF79C6;
  color: #1A1B26;
}

#pulseaudio.muted{
  background-color: #D20F39;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */

#backlight{
  margin: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #94E2D5;
  color: #1A1B26;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network{
  margin: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #74C7EC;
  color: #1A1B26;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock{
  margin: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #CBA6F7;
  color: #1A1B26;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery{
  margin: 5px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #A6E3A1;
  color: #1A1B26;
}

#battery.warning{
  background-color: #EED49F;
}

#battery.critical{
  background-color: #D20F39;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit{
  margin: 5px;
  margin-right: 25px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: #B4BEFE;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */
